<!DOCTYPE html>
<html>
<head>
    <h2>Top 10 Track</h2>
    추천 받을 아티스트를 입력해주세요 <input type="search"><br>
    
<body>
    <h2>추천 받을 아티스트를 선택해주세요</h2>
        <li>
            <label class="reg" for="class">artist</label>
            <select id="class">
                <option value="{{start}}">찰리푸스</option>
                <option value="archi">저스틴비버</option>
                <option value="archi">아리아나그란데</option>
                <option value="archi">BTS</option>
                <option value="archi">브루노마스</option>
                <option value="archi">애드시런</option>


            </select>
        </li>

    <form action="" method="POST">
        <button type="submit", value="Button"> 선택완료 </button>
    </form>
</body> 
</head>
</html>