atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-flask==1.2.0
pytest-json-report==1.5.0
pytest-metadata==2.0.1
pytest-submit @ git+https://github.com/aib-contents/pytest-submit-plugin@b011236541e17ea63810465e26b6a3d1561818b1
requests==2.27.1
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.9
Werkzeug==2.0.1
wincertstore==0.2
zipp==3.8.0
